<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search word</mat-label>
        <input matInput name="words" matInput [(ngModel)]="wordToSearch">
        <mat-icon style="float: right;cursor: pointer;" (click)="searchWord(wordToSearch)">search</mat-icon>
    </mat-form-field>
</form>

<mat-list  *ngIf="wordSearchAndFound == -1" style="margin-top: 100px;">
    <mat-list-item style="font-size: 17px;color: navy;">Welcome to Demo Thesaurus application. <br>
        Search any word and we try to give you the definition and look-alikes (synonyms)... 
        <mat-icon style="float: right;">sentiment_satisfied_alt</mat-icon>
    </mat-list-item>
</mat-list>

<mat-list  *ngIf="wordSearchAndFound == 0" style="margin-top: 40px;">
    <mat-list-item style="font-size: 25px;color: orange;">No data found for search.</mat-list-item>
</mat-list>

<mat-list *ngIf="wordSearchAndFound == 1" style="margin-top: 40px;">
    <mat-list-item style="font-size: 30px">{{FoundWord}}</mat-list-item>
    <mat-divider style="margin-top: 20px;"></mat-divider>
    <mat-list-item class="synonymMatList">
        <h4 style="width: 110px;">Description :&nbsp; &nbsp;</h4> {{FoundWordDescription}}
    </mat-list-item>
    <mat-divider style="margin-top: 20px;"></mat-divider>
    <mat-list-item class="synonymMatList">
        <h4 style="width: 110px;">Synonyms :</h4>
        <mat-chip-list>
            <ng-container *ngFor="let synonym of foundWordSynonyms">
                <mat-chip color="primary" selected (click)="searchWord(synonym.name)">
                    {{synonym.name}} &nbsp; &nbsp; &nbsp;
                </mat-chip>
            </ng-container>
        </mat-chip-list>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item style="margin-top: 90px;">
        <mat-slide-toggle class="example-margin" color="primary" [(ngModel)] = "showAdmin"> Admin Mode</mat-slide-toggle>
        <ng-container *ngIf="showAdmin">
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            <button mat-raised-button color="primary" (click)="addNewWord()">Add New Word</button>
            &nbsp; &nbsp; &nbsp;
            <button mat-raised-button color="accent" (click)="editCurrentWord()" >Edit Current Word</button>
            &nbsp; &nbsp; &nbsp;
            <button mat-raised-button color="warn" (click)="deletCurrentWord()" >Delete Current Word</button>
        </ng-container>
    </mat-list-item>
</mat-list>