.example-form {
    min-width: 150px;
    /* max-width: 500px; */
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
  }
  
  .example-full-width {
    width: 100%;
}

.mat-form-field + .mat-form-field {
    height: 20px;
    margin-left: 8px;
  }
  .example-margin {
    margin: 10px;
  }

  .synonymMatList{
    padding-top: 20px; 
    margin-top: 20px; 
    padding-bottom: 20px;
    margin-bottom: 20px;
  }